# dependencies
node_modules/

# builds
dist/
web/dist/
server/dist/
release/
release2/
dist-electron/

# runtime data (kalıcı veriler repoya girmez)
data/

# local minecraft test server world files
test-server/world*/
test-server/*.jar
test-server/eula.txt
test-server/logs/

# misc
*.log
.DS_Store
Thumbs.db
